<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FullIntel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0E2234C1A91C2F00073814A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E223681A91C2F00073814A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F118AE1AE7E0420047FE13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
